<%= render "shared/header" %>
<div class="my-pages">
   <h1 class ="my-page-title"><%= @nickname %> Posts</h1>
   <ul class = "post-list">
    <% @plans.each do |plan| %>
     <li class = "list">
  <div class ="post-info">
      <%= plan.date %>
  <div class = "post-date">  
   <%= plan.part.name%>
   </div>
   <div class ="post-texts">
  <%= plan.text%>
  </div>
  <%= link_to '編集', edit_plan_path(plan.id), method: :get, class:"my-page-button"%>
   <%= link_to '削除', plan_path(plan.id), method: :delete,class:"my-page-button" %>
  </li>
 <% end %>
 </ul>
</div>

<%= render "shared/footer" %>