<%= render "shared/header" %>
<div class="post-page">
  <div class="pos">
    <h3 class = "post-menu">fitness_menu</h3>
    <P class = "habits">本日のトレーニングの内容、トレーニングの情報をPostしよう！</p>
  </div>
  <% if flash[:danger]%>
  <h3 class = "flash-message"><%= flash[:danger]%></h3>
  <% end %>
  <div class ="post-form">
    <%= form_with(model: @plan, local: true) do |f| %>
  <p class="post-text">Days</p>
    <%= f.date_field :date, class: 'date-select' %>
   <p class="post-text">Select</p>
    <%= f.collection_select(:part_id, Part.all, :id, :name, {}, {class:"genre-select"}) %>
   <p class="post-text">Posts</p>
    <%= f.text_area :text, placeholder: "例 腹筋30回ets...", rows: "6",class:"post-texts" %>
    <%= f.submit 'Posts!', class: "post-button" %>
   </div>
</div>
  
<% end %>

<%= render "shared/footer" %>